*.aux
*.log
*.pdf
*.gz
*.out
*.db
src/LaTeX/20161017/SEEHomework_Petr_Lukin_Evgeniya_Ovchinnikova_20161017.tex.bak
*.bbl
src/LaTeX/20161017/SEEHomework_Petr_Lukin_Evgeniya_Ovchinnikova_20161017.blg
src/LaTeX/20161017/SEEHomework_Petr_Lukin_Evgeniya_Ovchinnikova_20161017.synctex
*.synctex
*.bak
*.blg
